{% extends 'base.html' %}

{% block title %}{{ restaurant.name }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{{ restaurant.name }}</h2>
    <img src="{{ restaurant.img.url }}" class="img-fluid mb-4" alt="{{ restaurant.name }}">
    <p>{{ restaurant.description }}</p>
    <p>住所: {{ restaurant.address }}</p>
    <p>電話番号: {{ restaurant.phone_number }}</p>
    <p>営業時間: {{ restaurant.open_time }} - {{ restaurant.close_time }}</p>
    
    <h3>レビュー</h3>
    <ul>
        {% for review in reviews %}
        <li>
            <strong>{{ review.user.full_name }}</strong>: {{ review.comment }} (Rating: {{ review.rating }})
        </li>
        {% endfor %}
    </ul>
    <a href="{% if user.is_authenticated %}{% url 'make_reservation' restaurant.id %}{% else %}{% url 'login' %}{% endif %}" class="btn btn-primary mt-4">予約する</a> <!-- 予約ボタン設置-->

    {% if user.is_authenticated %}
    <form method="post" action="{% url 'add_to_favorites' restaurant.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">お気に入り追加</button>
    </form>
{% else %}
    <p>お気に入り機能を利用するには<a href="{% url 'login' %}">ログイン</a>してください。</p>
{% endif %}
</div>
{% endblock %}
